.splitter {
  width: var(--card-gap);
  margin-top: calc(var(--topbar-h) + var(--card-gap));
  height: calc(100% - var(--topbar-h) - var(--card-gap));
  cursor: col-resize;
  background: transparent;
  position: relative;
  transition: background 0.15s;
  z-index: 50;
  flex-shrink: 0;
}

.splitter:hover,
.splitterActive {
  background: rgba(0, 122, 204, 0.4);
}
